{{define "app"}}
package app

import (
	"backend/config"
	"net/http"
)

type App struct {
	config *config.Config
	server *http.Server
}

func New() (*App, error) {
	return nil, nil
}

func (a *App) Run() error {

	return nil
}

func (a *App) Close() error {
	return nil
}
{{end}}