{{define "app"}}
package app

import (
	"log"
	database "common/pkg/db"
	"{{.ServiceName}}/config"
	"common/pkg/jwt"
	"fmt"
	"common/pkg/server"
	"time"
	"context"
	_ "{{.ServiceName}}/docs"

	{{if (index .InitialApps "user")}}
	userRoutes "{{.ServiceName}}/internal/user/routes"
	userHandlers "{{.ServiceName}}/internal/user/handlers"
	userRepos "{{.ServiceName}}/internal/user/repository"
	userServices "{{.ServiceName}}/internal/user/services"
	{{end}}
	{{if (index .InitialApps "auth")}}
	authRoutes "{{.ServiceName}}/internal/auth/routes"
	authServices "{{.ServiceName}}/internal/auth/services"
	authHandlers "{{.ServiceName}}/internal/auth/handlers"
	{{end}}
	
	swaggerFiles "github.com/swaggo/files"
	ginSwagger "github.com/swaggo/gin-swagger"
)

type App struct {
	config *config.Config
	deps   *Dependencies
}

func New() (*App, error) {
	cfg, err := config.New()
	if err != nil {
		return nil, fmt.Errorf("failed to load config: %w", err)
	}

	app := &App{
		config: cfg,
		deps: &Dependencies{
			Config: cfg,
		},
	}

	// Initialize all dependencies
	if err := app.initDependencies(); err != nil {
		return nil, err
	}

	return app, nil
}

func (a *App) Run() error {
	if err := a.deps.Server.Start(context.Background()); err != nil {
		return fmt.Errorf("failed to start server: %w", err)
	}
	return nil
}

func (a *App) initDependencies() error {
	var err error
	dbCfg := &database.Config{
		Host:     a.config.DBHost,
		Port:     a.config.DBPort,
		User:     a.config.DBUser,
		Password: a.config.DBPassword,
		Name:     a.config.DBName,
		SSLMode:  "disable",
	}

	if a.deps.DB, err = database.New(dbCfg); err != nil {
		log.Fatal(err)
	}

	if err := a.deps.DB.ApplyMigrations(context.Background(), "./migrations"); err != nil {
		return err
	}

	jwtConfig := jwt.JWTConfig{
		SecretKey:     []byte(a.deps.Config.JWTSecret),
		TokenDuration: time.Duration(a.deps.Config.JWTExpirationDays) * 24 * time.Hour,
	}
	a.deps.JWT = jwt.New(jwtConfig)

	if a.deps.Server, err = server.New(); err != nil {
		return fmt.Errorf("failed to start server: %w", err)
	}

	a.initRepositories()

	a.initServices()

	a.initHandlers()

	a.registerRoutes()

	return nil
}

func (a *App) initRepositories() {
	{{if (index .InitialApps "user")}}
	a.deps.UserRepository = userRepos.NewUserRepository(a.deps.DB.DB, a.deps.Logger)
	{{end}}}

func (a *App) initServices() {
	{{if (index .InitialApps "user")}}
	a.deps.UserService = userServices.NewUserService(a.deps.UserRepository, a.deps.Logger)
	{{end}}

	{{if (index .InitialApps "auth")}}
	a.deps.AuthService = authServices.NewAuthService(a.deps.Logger, a.deps.JWT, {{if (index .InitialApps "user")}}a.deps.UserService{{else}}nil{{end}})
	{{end}}

}

func (a *App) initHandlers() {
	{{if (index .InitialApps "auth")}}
	a.deps.AuthHandler = authHandlers.NewAuthHandler(a.deps.AuthService, a.deps.Logger, a.deps.Validator)
	{{end}}
	{{if (index .InitialApps "user")}}
	a.deps.UserHandler = userHandlers.NewUserHandler(a.deps.UserService, a.deps.Logger, a.deps.Validator)
	{{end}}
}

func (a *App) registerRoutes() {
	{{if (index .InitialApps "user")}}
	userRoutes.UserRoutes(a.deps.Server.Router(), a.deps.UserHandler)
	{{end}}
	{{if (index .InitialApps "auth")}}
	authRoutes.AuthRoutes(a.deps.Server.Router(), a.deps.AuthHandler)
	{{end}}

	a.deps.Server.Router().GET("/swagger/*any", ginSwagger.WrapHandler(swaggerFiles.Handler))


	{{if eq .Frontend "htmx"}}
	// Serve static files
	// a.deps.Server.Router.Static("/web/static", "./static")
	// Load HTML templates
	// a.deps.Server.Router.LoadHTMLGlob("/web/templates/*.html")
	{{end}}


	{{if eq .Frontend "react"}}
	// Serve frontend static files
	router.Static("/assets", "./frontend/dist/assets")
	router.StaticFile("/favicon.ico", "./frontend/dist/favicon.ico")

	// Handle frontend routes
	router.NoRoute(func(c *gin.Context) {
		// Serve the React index.html for all other routes
		c.File("./frontend/dist/index.html")
	})
	{{end}}
}

func (a *App) Shutdown() error {
	// if err := a.deps.DB.Close(); err != nil {
	// 	a.deps.Logger.Error("failed to close database connection", zap.Error(err))
	// }
	return nil
}
{{end}}