{{define "deps"}}
package app

import (
	"{{.ServiceName}}/config"
	"database/sql"
	"common/pkg/http_client"
	"common/pkg/jwt"
	"common/pkg/logger"
	"common/pkg/server"
	"common/pkg/validator"
	{{if (index .InitialApps "user")}}
	userHandlers "{{.ServiceName}}/internal/user/handlers"
	userServices "{{.ServiceName}}/internal/user/services"
	userRepo "{{.ServiceName}}/internal/user/repository"
	{{end}}
	{{if (index .InitialApps "auth")}}
	authHandlers "{{.ServiceName}}/internal/auth/handlers"
	authServices "{{.ServiceName}}/internal/auth/services"
	{{end}}
)

type Dependencies struct {
	Config     *config.Config
	DB         *sql.DB
	Server     server.Server
	Logger     logger.Logger
	JWT        jwt.JWT
	Validator  validator.Validator
	HttpClient http_client.HttpClient

	{{if (index .InitialApps "user")}}
	AuthHandler authHandlers.AuthHandler
	AuthService authServices.AuthService
	{{end}}

	{{if (index .InitialApps "user")}}
	UserHandler userHandlers.UserHandler
	UserService userServices.UserService
	UserRepository    userRepo.UserRepository
	{{end}}
}


{{end}}