package dto

type {{.Name}}DTO struct {
	// Add your DTO fields here
}

type Create{{.Name}}DTO struct {
	// Add create DTO fields here
}

type Update{{.Name}}DTO struct {
	// Add update DTO fields here
}
