package routes

import (
	"github.com/gin-gonic/gin"
	"github.com/indalyadav56/{{.ProjectName}}/internal/{{.Name}}/controllers"
	"github.com/indalyadav56/{{.ProjectName}}/internal/{{.Name}}/repository"
	"github.com/indalyadav56/{{.ProjectName}}/internal/{{.Name}}/services"
	"gorm.io/gorm"
)

func Setup{{.Name}}Routes(router *gin.RouterGroup, db *gorm.DB) {
	repo := repository.New{{.Name}}Repository(db)
	service := services.New{{.Name}}Service(repo)
	controller := controllers.New{{.Name}}Controller(service)

	{{.Name}}Router := router.Group("/{{.Name}}")
	{
		{{.Name}}Router.POST("", controller.Create)
		{{.Name}}Router.PUT("/:id", controller.Update)
		{{.Name}}Router.DELETE("/:id", controller.Delete)
		{{.Name}}Router.GET("/:id", controller.GetByID)
		{{.Name}}Router.GET("", controller.List)
	}
}
