{{define "logger_middleware"}}
package middlewares

import (
	"{{.ServiceName}}/pkg/logger"
	"{{.ServiceName}}/pkg/jwt"

	"github.com/gofiber/fiber/v2"
)

func LoggerMiddleware(logger logger.Logger, jwt jwt.JWT) fiber.Handler {
	return func(c *fiber.Ctx) error {
		logger.Info("Request: %s %s", c.Method(), c.Path())
		return c.Next()
	}
}

{{end}}
