{{define "auth_dto"}}

package dto

type RegisterRequest struct {
	Name     string `json:"name" validate:"required,not_blank"`
	Email    string `json:"email" validate:"required,email"`
	Password string `json:"password" validate:"required,min=6,not_blank"`
}

type LoginRequest struct {
	Email    string `json:"email" validate:"required,email"`
	Password string `json:"password" validate:"required,min=6,not_blank"`
}


type RegisterResponse struct {
	UserID   string `json:"userId"`
	Name     string `json:"name"`
	Email    string `json:"email"`
	Token    string `json:"token"`
	ExpireAt int64  `json:"expireAt"`
}

type LoginResponse struct {
	UserID   string `json:"userId"`
	Name     string `json:"name"`
	Email    string `json:"email"`
	Token    string `json:"token"`
	ExpireAt int64  `json:"expireAt"`
}


type RefreshTokenRequest struct {
	RefreshToken string `json:"refreshToken" validate:"required"`
}

type RefreshTokenResponse struct {
	Token    string `json:"token"`
	ExpireAt int64  `json:"expireAt"`
}

{{end}}