{{define "auth_dto"}}

package dto

type RegisterRequest struct {
	FirstName  string `json:"firstName" validate:"required,not_blank"`
	MiddleName string `json:"middleName" validate:"required,not_blank"`
	LastName   string `json:"lastName" validate:"required,not_blank"`
	Email      string `json:"email" validate:"required,email"`
	Password   string `json:"password" validate:"required,min=6,not_blank"`
}

type LoginRequest struct {
	Email    string `json:"email" validate:"required,email"`
	Password string `json:"password" validate:"required,min=6,not_blank"`
}

type RegisterResponse struct {
	UserID     string `json:"userId"`
	FirstName  string `json:"firstName"`
	MiddleName string `json:"middleName"`
	LastName   string `json:"lastName"`
	Email      string `json:"email"`
	Token      Token  `json:"token"`
}

type LoginResponse struct {
	UserID string `json:"userId"`
	Email  string `json:"email"`
	Token  Token  `json:"token"`
}

type Token struct {
	AccessToken  string `json:"access_token"`
	RefreshToken string `json:"refresh_token,omitempty"`
}

type RefreshTokenRequest struct {
	RefreshToken string `json:"refreshToken" validate:"required"`
}

type RefreshTokenResponse struct {
	Token    string `json:"token"`
	ExpireAt int64  `json:"expireAt"`
}


{{end}}