{{define "gin_logger_middleware"}}
package middlewares

import (
	"backend/pkg/jwt"
	"backend/pkg/logger"

	"github.com/gin-gonic/gin"
)

func LoggerMiddleware(logger logger.Logger, jwt jwt.JWT) gin.HandlerFunc {
	return func(c *gin.Context) {
		c.Next()
	}
}


{{end}}
