{{define "auth_service"}}
package services

type {{.IServiceName}}Service interface {
}

type {{.AppName}}Service struct {
}

func New{{.IServiceName}}Service() *{{.AppName}}Service {
	return &{{.AppName}}Service{
	}
}

{{end}}
