{{define "auth_service"}}
package services

type {{.IServiceName}}Service interface {
}

type {{.AppName}}Service struct {
	{{.ServiceName}}Repo repository.{{.IServiceName}}Repository
}

func New{{.IServiceName}}Service(repo repository.{{.IServiceName}}Repository) *{{.ServiceName}}Service {
	return &{{.AppName}}Service{
		{{.AppName}}Repo: repo,
	}
}

func (s *{{.ServiceName}}Service) Create(data string) error {
	return nil
}

func (s *{{.ServiceName}}Service) Read(id string) (string, error) {
	return id, nil
}

func (s *{{.ServiceName}}Service) Update(id string, data string) error {
	return nil
}

func (s *{{.ServiceName}}Service) Delete(id string) error {
	return nil
}

{{end}}
