{{define "auth_constant"}}
package constants

const (
	// Error Messages
	ParseErrorMessage      = "Failed to parse request data"
	RegisterErrorMessage   = "Registration failed"
	
	// Success Messages
	RegisterSuccessMessage = "Registration successful"
)

{{end}}