{{define "main"}}

package main

import (
	"fmt"
	"{{.ServiceName}}/pkg/logger"
    "github.com/gin-gonic/gin"
    "todo/pkg/middlewares/cors"
    loggerMiddleware "{{.ServiceName}}/pkg/middlewares/logger"
)

func main() {
    logger, err := logger.New()
	if err != nil {
		fmt.Println("Error creating logger:", err)
		return
	}

	fmt.Println("Hello, todo!", logger)

    router := gin.Default()

    router.Use(loggerMiddleware.LoggerMiddleware())
    router.Use(cors.CorsMiddleware())

    // Start the server
    router.Run(":8080")
}

{{end}}
