{{define "middleware"}}
package middlewares

import (
	"{{.ServiceName}}/pkg/logger"

	"github.com/gofiber/fiber/v2"
)

func LoggerMiddleware(logger logger.Logger) fiber.Handler {
	return func(c *fiber.Ctx) error {
		logger.Info("Request: %s %s", c.Method(), c.Path())
		return c.Next()
	}
}


{{end}}
