{{define "repository"}}
package repository

import "gorm.io/gorm"

type {{.IServiceName}}Repository interface {
 	// Insert(user *models.User) (*models.User, error)
	// FindByEmail(email string) (*models.User, error)
	// FindByID(id string) (*models.User, error)
	// FindAll() ([]models.User, error)
}

type {{.AppName}}Repository struct {
	db *gorm.DB
}


func New{{.IServiceName}}Repository(db *gorm.DB) *{{.AppName}}Repository {
	return &{{.AppName}}Repository{
		db: db,
	}
}

{{end}}
