{{define "routes"}}

package routes

import (
	"{{.ServiceName}}/internal/{{.AppName}}/controllers"
	"github.com/gofiber/fiber/v2"
)

func {{.IAppName}}Routes(a *fiber.App, c controllers.{{.IAppName}}Controller) {
	// {{.AppName}}V1 := a.Group("/v1/{{.AppName}}s")
	// {
	// 	{{.AppName}}V1.Get("", )
	// 	{{.AppName}}V1.Post("", )
	// 	{{.AppName}}V1.Patch("", )
	// 	{{.AppName}}V1.Delete("", )
	// }
}

{{end}}
