{{define "service"}}
package services

import "{{.ServiceName}}/internal/{{.AppName}}/repository"

type {{.IServiceName}}Service interface {
}

type {{.AppName}}Service struct {
	{{.AppName}}Repo repository.{{.IServiceName}}Repository
}

func New{{.IServiceName}}Service(repo repository.{{.IServiceName}}Repository) *{{.AppName}}Service {
	return &{{.AppName}}Service{
		{{.AppName}}Repo: repo,
	}
}

func (s *{{.AppName}}Service) Create(data string) error {
	return nil
}

func (s *{{.AppName}}Service) Read(id string) (string, error) {
	return id, nil
}

func (s *{{.AppName}}Service) Update(id string, data string) error {
	return nil
}

func (s *{{.AppName}}Service) Delete(id string) error {
	return nil
}

{{end}}
