{{define "auth_routes"}}

package routes

import (
	"{{.ServiceName}}/internal/{{.AppName}}/controllers"
	"github.com/gofiber/fiber/v2"
)

func {{.IAppName}}Routes(app *fiber.App, c controllers.{{.IAppName}}Controller) {
	authV1 := app.Group("/v1/auth")
	{
		authV1.Post("/register", c.Register)
		authV1.Post("/login", c.Login)
	}
}

{{end}}
