{{define "routes"}}

package routes

import (
	"{{.ServiceName}}/internal/{{.AppName}}/handlers"
	"github.com/gin-gonic/gin"
)

func {{.IAppName}}Routes(app *gin.Engine, h handlers.{{.IAppName}}Handler) {
	// {{.AppName}}V1 := app.Group("/v1/{{.AppName}}s")
	// {
	// 	{{.AppName}}V1.Get("", h.Get)
	// 	{{.AppName}}V1.Post("", h.Create)
	// 	{{.AppName}}V1.Patch("", h.Update)
	//	{{.AppName}}V1.Delete("", h.Delete )
	// }
}

{{end}}
