{{define "routes"}}

package routes

import (
	"{{.ServiceName}}/internal/{{.AppName}}/controllers"
	"github.com/gofiber/fiber/v2"
)

func {{.IAppName}}Routes(app *fiber.App, c controllers.{{.IAppName}}Controller) {
	{{.AppName}}V1 := app.Group("/v1/{{.AppName}}s")
	{
		{{.AppName}}V1.Get("", c.Get)
	 	{{.AppName}}V1.Post("", c.Create)
	 	{{.AppName}}V1.Patch("", c.Update)
	 	{{.AppName}}V1.Delete("",c.Delete )
	}
}

{{end}}
