package services_test

import (
	"fmt"
	"testing"
	"todo/internal/user/services"

	"github.com/stretchr/testify/assert"
)

func HelloWorld() {

}
func TestUserService(t *testing.T) {
	assert := assert.New(t)
	user := services.NewUserService()

	t.Run("", func(t *testing.T) {
		HelloWorld()
		assert.Equal(10, 10)
		fmt.Println("user", user)
	})
}
